---
import Base from "../layouts/Base.astro";
import { getCollection } from "astro:content";
const pageTitle = "Personal Website and blog";
const allPosts = await getCollection("posts");
const recentPosts = allPosts
  .sort(
    (a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime()
  )
  .slice(0, 5);
---

<Base title="home">
  <div class="md:grid md:grid-cols-3 md:gap-4 m-5 md:text-xl">
    <div
      class="prose md:text-lg md:col-span-2 order-first md:text-justify border border-dashed border-gray-500 mt-2 mb-2 p-4"
    >
      <p class="pb-2"><b>Welcome, dear visitor, to my personal website!</b></p>
      <p>
        Think of it as my cozy little nook in the vast expanse of the internet,
        a place where I share bits and pieces of my life and interests. It's a
        collection of my thoughts, experiences, and creations, and I'm thrilled
        to have you here!
      </p>
      <p>
        One of my passions is dissecting and discussing television shows. I love
        delving into the intricacies of plotlines, character development, and
        the art of storytelling. You'll find my first series of TV show reviews
        here, where I share my insights and opinions, and perhaps even a few fan
        theories on Mahabharat by B.R. Chopra. But that's not all. I also dabble
        in poetry, crafting verses that capture moments from the life of an
        average Indian guy. Whether it's the nostalgia of running shirt-less in
        the streets as a kid spinning tyres, or driving alone at night listening
        to synthwave, I have written about it all.
      </p>
      <p>
        In addition to my creative pursuits, I also enjoy exploring the
        technical realm. I write about various tech topics, sharing my knowledge
        and experiences in a way that's accessible and engaging. Whether you're
        a seasoned tech enthusiast or a curious newbie, I hope you'll find these
        pieces informative and inspiring. Every now and then, I also pen down
        random musings - thoughts that don't fit into any particular category
        but are too interesting to keep to myself. These could be reflections on
        life, observations about the world, or just interesting ideas that pop
        into my head.
      </p>
      <p>
        Back in 2016, I ventured into the world of digital art. It was a year of
        exploration and creativity, and the result is a collection of digital
        artwork that I'm quite proud of. You can check out my creations right <a
          href="/artwork">here</a
        > on this site. Last but not least, I'm the creator of <a
          href="https://tildevarsh.in">~tildevarsh</a
        >, a vibrant online space where I spend a lot of my time. It's a
        wonderful community, and I'd love for you to join us. You can usually
        find me there, engaging in discussions, sharing ideas, and learning from
        others.
      </p>
      <p>
        So, take a look around, explore, and enjoy your stay. This is my corner
        of the internet, and I'm glad to share it with you.
      </p>
      <hr class="my-2" />
    </div>
    <div
      class="border border-dashed border-gray-500 md:col-span-1 mt-2 mb-2 p-4"
    >
      <div class="serifs">Recent Posts</div>
      {
        recentPosts.map((post) => (
          <div class="md:text-lg my-4">
            {" "}
            <a class="recents" href={"/posts/" + post.slug}>
              {" "}
              {post.data.title}
            </a>{" "}
          </div>
        ))
      }

      <div
        class="border border-dashed md:text-lg border-gray-500 md:col-span-1 mt-2 mb-2 p-4"
      >
        <div class="serifs">Get in touch</div>

        <ul>
          <li class="">
            <b>Email:</b> hittarth91 [at] gmail [dot] com / PGP Key
          </li>
          <li class="">
            <b>IRC:</b> Find me as gtlsgamr @ #gnulinuxindia:libera.chat and @ #tildevarsh:libera.chat
          </li>
          <li class=""><b>Connect</b>on Github and Gitlab</li>
        </ul>
      </div>
      <div
        class="border border-dashed md:text-lg border-gray-500 md:col-span-1 mt-2 mb-2 p-4"
      >
      <blockquote class="text-xl italic font-semibold">
        <svg class="w-8 h-8 text-gray-400 dark:text-gray-600 mb-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 14">
          <path d="M6 0H2a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h4v1a3 3 0 0 1-3 3H2a1 1 0 0 0 0 2h1a5.006 5.006 0 0 0 5-5V2a2 2 0 0 0-2-2Zm10 0h-4a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h4v1a3 3 0 0 1-3 3h-1a1 1 0 0 0 0 2h1a5.006 5.006 0 0 0 5-5V2a2 2 0 0 0-2-2Z"/>
      </svg>
      “We behold what we are, and we are what we behold.”
      </blockquote>
      </div>
    </div>
  </div>
</Base>

<style>
  * {
    font-family: "Droid Serif", serif;
  }
  .serifs {
    font-family: "Playfair Display", serif;
    font-weight: 300;
    font-style: italic;
  }
  .recents {
    color: rgb(49, 49, 49) !important;
  }
</style>
