---
const {title, date, slug,type} = Astro.props;
const options = {
    year: 'numeric', month: 'long', day: 'numeric'
};
---
<div class="prose">
    <a href={type+"/"+slug}><div class="mt-5 text-xl text-bold">{title} </div></a>{new Date(date).toLocaleString('en-US',options)}
</div>

<style>
      a{
    text-decoration: none !important;
  }
</style>