---
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
const { title, description} = Astro.props;
---

<html lang="en" class="bg-[#faf9f7] text-[#2f2f2f]">
  <Head title={title} description={description} />
  <body class="mx-auto">
    <main class="md:w-2/3 mx-auto">
      <Header />
      <slot />
    </main>
  </body>
<!--<script>-->
<!--  function loadFonts() {-->
<!--    var fontLink = document.createElement('link');-->
<!--    fontLink.href = 'https://fonts.googleapis.com/css?family=Playfair+Display:400,400italic|Droid+Serif:400,700,400italic,700italic';-->
<!--    fontLink.rel = 'stylesheet';-->
<!--    document.head.appendChild(fontLink);-->
<!--  }-->

<!--  // Call the function after the page has loaded-->
<!--  window.addEventListener('load', loadFonts);-->
<!--</script>-->
</html>
