---
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
const { title } = Astro.props;
---

<html lang="en" class="bg-[#f9f7f1] text-[#2f2f2f]">
  <Head title={title} />
  <body class="mx-auto">
    <main class="md:w-2/3 mx-auto">
      <Header />
      <slot />
    </main>
  </body>
</html>
