---
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
const { title, description } = Astro.props;
---

<html lang="en" class="bg-[#faf9f7] text-[#2f2f2f]">
<Head title={title} description={description} />
<body class="mx-auto">
<main class="md:w-2/3  mx-auto">
  <Header />
  <slot />
  <footer class="mt-12 border-t border-dashed border-gray-500 text-center text-sm text-gray-600 py-6 font-serif">
    &copy; {new Date().getFullYear()} Hitarth Thummar &middot; All rights reserved.
  </footer>
</main>
</body>
</html>
